<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Secondary_Market.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83F67C0A20B04F4200B9292F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83F67C2220B04F4200B9292F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83F67C2D20B04F4200B9292F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
